# ---------------------------------------
# Java
# ---------------------------------------
*.log
*.ctxt
hs_err_pid*
replay_pid*

# ---------------------------------------
# Maven
# ---------------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar

# ---------------------------------------
# IntelliJ IDEA
# ---------------------------------------
.idea/
*.iml
*.ipr
*.iws
out/

# ---------------------------------------
# Eclipse
# ---------------------------------------
.project
.classpath
.settings/
bin/
tmp/

# ---------------------------------------
# VS Code
# ---------------------------------------
.vscode/

# ---------------------------------------
# OS files
# ---------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# Build output
# ---------------------------------------
*.jar
*.war
*.zip
*.tar.gz
